body {
  background-image: url("https://cdn.vox-cdn.com/thumbor/evZkijLN9z-F8N2BRK9ywYCLkiM=/0x0:1920x1080/1200x800/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/66547376/1_Disease_Selection.0.jpg");
  text-align: center;
  margin-top: 200px;
}
h1,
h3,
p {
  color: white;
  background-color: grey;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
